.loginta{
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	height:34%;
	border-color:green;
	background-color:#c0c0c0;
	font-size:20px;
	border-radius:7px;
}
.logindv{
	height:32px;
	font-size:20px;
	color:white;
	background-color:#0000FF;
	text-align:center;
	margin-top:5px;
}
.tb{
	width:250px;
	font-size:20px;
	border-radius:5px;
	hieght:30px;
}
.logintd{
	padding:6px 10px 6px 10px;
	font-weight:bold;
	font-size:22px;
}
.bt{
	height:30px;
	border-color:black;
	border-radius:0.3em;
	font-size:1.1em;
	padding:2px 5px 2px 5px;
	margin-right:10px;
}
.mna{
	font-size:20px;
	padding:5px;
	background-color:yellow;
	color:blue;
	text-decoration:none;
	border-radius:5px;
}
.mna:hover{
	color:red;
	background-color:green;
}
.st{
	font-size:22px;
	color:red;
}
